.article {
    display: flex;
    flex-direction: column;
}

.topProfile {
    display: flex;
    flex-direction: row;
}

.profileImg {
    height: 2rem;
    width: 2rem;

    border-radius: 1rem;
}

.profile {
    display: flex;
    flex-direction: column;
}

.upperProfile {
    display: flex;
    flex-direction: row;
}

.lowerProfile {
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contents {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.5rem;
}

.detailContents {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.articleImg {
    height: 8rem;
    width: 8rem;
    object-fit: cover;
}

.poll{
    display: flex;
    flex-direction: row;
}

.leftPoll{
    display: flex;
    flex-direction: column;
}

.additionalInfo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.popularity{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}