.article {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 40%;

    border: solid black 1px;
    border-radius: 0.5rem;

    padding: 1rem;

}

.topProfile {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.profileImg {
    height: 2.5rem;
    width: 2.5rem;

    border-radius: 1rem;
}

.profile {
    display: flex;
    flex-direction: column;
}

.upperProfile {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
}

.postingDate{
    font-size: 0.75rem;
    color: var(--GY-gray);
}

.lowerProfile {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contents {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}

.detailContents {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.articleImg {
    height: 8rem;
    width: 8rem;
    object-fit: cover;
}

.text{
    line-height: 1.5rem;
}

.poll {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.leftPoll {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.yesBtn, .noBtn {
    border: 2px solid;
    border-radius: 0.25rem;
    text-align: center;

    cursor: pointer;
    font-weight: 600;

    padding: 0.25rem;
}

.yesBtn {
    color: var(--GY-green);
    border-color: var(--GY-green);
}

.noBtn {
    color: var(--GY-red);
    border-color: var(--GY-red);
}

.rightPoll{
    flex : 1 1 0;
}

.additionalInfo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.popularity {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}